{% load static %}
<nav>
    <div class="navbar">
        <div class="logo left-margin">
            <img src="{% static '/img/nexcent-logo.png' %}" alt="">
        </div>
        <div class="nav_list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
                <button type="button" class="register-btn">Register Now <i class="fa-solid fa-arrow-right"></i></button>
            </ul>
        </div>
    </div>
</nav>